@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Nunito:wght@300&family=Quicksand:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
max-width: 100vw;
max-height: 100vh;
background-color: slategrey;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: white;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
}


.time-area, .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;  
    margin-top: 50px;

}

.timer {
    margin-right: 5px;
}

.moves {
    margin-left: 5px;
}

.actions > button {
    width: 110px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;

}

.actions > button:hover {
    background-color: yellow;
}

.cards {
    display: grid;
  justify-content: center;
  grid-gap: 16px;
  /*Determines how many cards in every row that will show. In this case 4 cards and 6 rows*/
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(4);
  perspective: 1000px;
      }

    .cards > div{
        /*Size of the cards*/
        height: 100px;
        width: 100px;
        /*To center The image of the pawprints on the cards*/
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: yellow;
      font-size: 30px;
        border: 3px solid black;
        transform-style: preserve-3d;
        transform: rotateY(180deg);
        transition: .2s;
    
    }

.card-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}



  /*This code makes the card shrink to 97% of it's size when clicking on it*/
  .card-front:active {
transform: scale(.97);
transition: .2s;
  }

  .card-back{
    backface-visibility: hidden;
  }


    

